.appList-entry{
	margin-left: 5%;
	margin-right: 5%;
	padding: 1%;
	border-top: 1px solid white;
}
.appList-entry:last-child{
	border-bottom: 1px solid white;
}
.appList-entry:hover{
	color: rgb(0, 81, 255);
	background-color: white;
}